SIGNALWIRE_PROJECT_ID = # add project ID 
SIGNALWIRE_SPACE_URL = # add space url 
SIGNALWIRE_AUTH_TOKEN = # add auth token 
SIGNALWIRE_PHONE_NUMBER = # add phone number 
TARGET_PHONE_NUMBER=+18054398008
OPENAI_API_KEY = # add API key 